<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RetryFailedTestSuite">
	<listeners>
		<listener class-name="hashMapTest.myTransformer" />
	</listeners>


	<test name="RetryMultipleFailedTestCases">
		<classes>
			<class name="com.crm.qa.testcases.retryAnalyzerTest">
			</class>
		</classes>
	</test>
</suite> 